In [7]:
import pandas as pd 
data = [['Crash Landing On You', 'Romance', '2019', '16', '9.2'],
        ['Itaewon Class', 'Drama', '2020', '16', '9.0'],
        ['Parasite', 'Thriller', '2019', '18', '9.3'],
        ['The World of the Married', 'Drama', '2020', '16', '9.1'],
        ['Stranger', 'Thriller', '2017', '16', '9.2']]

# Create a DataFrame from the data
df = pd.DataFrame(data, columns=['Title', 'Genre', 'Year', 'Episodes', 'Rating'])
df

                      Title     Genre  Year Episodes Rating
0      Crash Landing On You   Romance  2019       16    9.2
1             Itaewon Class     Drama  2020       16    9.0
2                  Parasite  Thriller  2019       18    9.3
3  The World of the Married     Drama  2020       16    9.1
4                  Stranger  Thriller  2017       16    9.2

In [13]:
df.describe()

                       Title  Genre  Year Episodes Rating
count                      5      5     5        5      5
unique                     5      3     3        2      4
top     Crash Landing On You  Drama  2019       16    9.2
freq                       1      2     2        4      2

In [9]:
# Print the first few rows of the DataFrame
df.head()

                      Title     Genre  Year Episodes Rating
0      Crash Landing On You   Romance  2019       16    9.2
1             Itaewon Class     Drama  2020       16    9.0
2                  Parasite  Thriller  2019       18    9.3
3  The World of the Married     Drama  2020       16    9.1
4                  Stranger  Thriller  2017       16    9.2

In [14]:
df.describe()

                       Title  Genre  Year Episodes Rating
count                      5      5     5        5      5
unique                     5      3     3        2      4
top     Crash Landing On You  Drama  2019       16    9.2
freq                       1      2     2        4      2

In [19]:
df["Rating"] = df["Rating"].astype(float)

In [20]:
# df['Rating'].mean()
df['Rating'].mean()

9.16

In [21]:
# Print the average rating
print("Average rating:", df['Rating'].mean())

# Print the number of dramas in each genre
print(df['Genre'].value_counts())

# Print the number of dramas released in each year
print(df['Year'].value_counts())

Average rating: 9.16
Drama       2
Thriller    2
Romance     1
Name: Genre, dtype: int64
2019    2
2020    2
2017    1
Name: Year, dtype: int64

In [ ]:
In this example, I created a simple list of lists that contains the data of Top 250 Korean Dramas, then I created a DataFrame from the data, and used simple python functions to examine the data, such as mean, value_counts. I also printed the first few rows of the DataFrame to see the structure of the data.

Diagnostic analytics is different from predictive analytics in that it is used to understand and explain what has happened in the past. Predictive analytics, on the other hand, is used to predict what will happen in the future based on historical data. In this example, I am using simple python functions to understand the relationships and distributions of data in the KDrama dataset, which is an example of diagnostic analytics.